
/******************************************** DONUT CHART *****************************************/


.donut-chart-block {
    overflow: hidden;
}
/* .donut-chart-block .titular {
    padding: 10px 0;
} */

.os.customers {
    border-top: 4px solid #EB5757;
}
.os.finance {
    border-top: 4px solid #F2994A;
}
.os.workshop-admin {
    border-top: 4px solid #9B51E0;
}
.os.workshop-manager {
    border-top: 4px solid  #F2C94C;
}
.os.admin {
    border-top: 4px solid #56CCF2;
}

/******************************************
CIRCULAR PIE CHART
******************************************/
.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
p.center-date {
  background: #fff;
  position: absolute;
  text-align: center;
  top:0;left:0;bottom:0;right:0;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  font-size: 24px;
  line-height: 33px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
 line-height: 0; 
 color:#EB5757;
}

.record {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.customer {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#portion1 {
    transform: rotate(0deg);
}

#portion1 .customer {
    background-color: #EB5757;
    transform: rotate(76deg);
  }
#portion2 {
    transform: rotate(76deg);
  }
#portion2 .customer {
    background-color: #F2994A;
    transform: rotate(140deg);
  }
#portion3 {
    transform: rotate(215deg);
  }
#portion3 .customer {
    background-color: #56CCF2;
    transform: rotate(113deg);
  }
#portion4 {
    transform:rotate(-32deg);
  }
#portion4 .customer {
    background-color: #9B51E0;
    transform: rotate(32deg);
  }

  #portion5 {
    transform:rotate(-62deg);
  }
#portion5 .customer {
    background-color: #F2C94C;
    transform: rotate(32deg);
  }